<tr onclick="location.href='<%= question_path(question) %>'">
  <td><%= question.title %></td>
  <td><%= question.text %></td>
  <td>asked <%= time_ago_in_words question.created_at %> ago by <%= question.user.username %></td>
  <td><span class="badge"><%= question.answers.count %></span></td>
</tr>
