<h1><%= @question.title %></h1>

<h3><%= @question.text %><br><small>asked <%= time_ago_in_words @question.created_at %> ago by <%= link_to @question.user.username, @question.user %></small></h3>

<hr>


<% @answers.each do |answer| %>
  <h4><%= answer.text %><br><small>answered <%= time_ago_in_words answer.created_at %> ago by <%= link_to answer.user.username, answer.user %></small>
<% end %>




<% if @current_user %>
<hr>
<%= form_for [@question, @answer] do |f| %>
<h2>Submit your answer: </h2>
<div class="form-group">
  <%= f.label :text %>
  <%= f.text_field(:text, {:class => 'form-control', :required => 'true'}) %>
</div>

<button type="submit" class="btn btn-default">Answer</button>
<% end %>

<% end %>
